body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-content: center;
    background-image: linear-gradient(to bottom, whitesmoke 50%, black);

}

.avatar {
    width: 150px;
    border-bottom: 1px solid #70716F;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(233,236,239), rgb(82,121,111));
    color: #fff;
    border-bottom: 6px solid #354f52;
    text-shadow: 1px 1px 6px #43413B;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.border-blue {
    border: 1px dotted blue;
}
.card:hover{
    background-image: linear-gradient(to bottom, #edc4b3, #8a5a44);
    border-bottom: 6px solid #774936;
    color: #43413B;
    text-shadow: none;
}
